In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("Q9_a.csv")

In [3]:
data.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [4]:
# Skewness
data.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

In [5]:
# Kurtosis
data.kurt()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64